{% extends "base.html" %}

{% block title %}
<title> Про наш магазин </title>
{% endblock title %}

{% block body %}
<div class="container">
<h1> О нас </h1>
<p>Мы применяем профессиональные инновации в каждой модели, используемой в домашних условиях. Именно поэтому наши покупатели всегда получают современную и технологичную бытовую и климатическую технику.

  Актуальное продуктовое портфолио Electrolux включает в себя большой ассортимент техники: духовые шкафы, варочные поверхности, вытяжки, холодильники, морозильные лари, винные шкафы, плиты, посудомоечные и стиральные машины, пылесосы, малую бытовую технику, бытовые и профессиональные системы кондиционирования, тепловую технику, увлажнители воздуха, водонагреватели, теплые полы и электрические камины.</p>
</div>
{% endblock body %}