{% extends "base.html" %}


{% block title %}Магазин кондиционеров{% endblock title %}


{% block body %}
<h1>Магазин кондиционеров</h1>

<div class="products">
  {% for product in data %}

  <div class="product">
    <img class="product__pic" src="" alt="{{product.title}}" width="350" height="350">
    <div class="product__title">{{product.title}}</div>
    <div class="product__price">{{product.price}} ₽</div>
    {% if product.text %}
    <div class="product__text">{{product.text}}</div>
    {% endif %}
  </div>

  {% endfor %}
</div>

{% endblock body %}